html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}

#SubHeader {
	/*min-height: 10vh;*/
	background-color: #343a40;
	border:1px solid #8080808f;
	text-align: center;
}
#body {
	/*text-align: center;*/
}
#bodyCentered{
	text-align: center;
}

footer {
    background-color: orange;
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
}

