
{% load static %}
{% block base_page_content %}

<!DOCTYPE html>
<html>

	<head>
		<link rel=stylesheet type="text/css" href="{% static 'css/base.css' %}">
		{% block css %}{% endblock %}
	</head>
	<div id="main-wrapper">
	<header>
		{%include "nav.html" %}
	</header>
	<body>
		<div id="SubHeader">
			{% block subHeaderContent %}
			{% endblock %}
		</div>
		<div id = "bodyCentered">
			{% block centeredContent %}
			{% endblock %}
		</div>
			{% block content %}
			{% endblock %}

		<footer>
			{% block footer %}
			{%include "footer.html" %}
			{% endblock %}
		</footer>

	</body>
	</div>

</html>

{% endblock %}

